body{
    overflow-x: hidden;
    background-color: #011627;
}

.contentmenu{
    height: 11vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navcontainer__item{
    color: black;
    margin-left: 1em;
}

.navcontainer__item:hover{
    text-decoration: none;
    color: #E71D36;
}

.contentmenu__item--img{
    width: 4em;
}

#carousel-p{
    margin: 0;
    padding: 0;
}

.backgroundform{
    height: 100vh;
    background-color: #02010A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo{
    text-align: center;
    margin-top: 1em;
    color: white;
}

.form{
    margin-top: 3em;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-control.inputCustom::placeholder{
    color: white;
    font-weight: bold;
    opacity: 1;
    background-color: transparent;
}

/*Se aplica la prefijo ::-moz-placeholder porque por los estilos definidos en bootstrap, genera conflictos en firefox.*/
.form-control.inputCustom::-moz-placeholder{
    padding-left: 20px;
    color: white;
}

input[type="text"],
input[type="email"]{
    width: 50%;
    height: 12%;
    background-color: transparent;
    border: 1px solid green;
}

input[type="text"]:focus,
input[type="email"]:focus{
    outline: none;
    color: white;
    background-color: transparent;
}

#textarea{
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;
    min-height: 50%;
    background-color: transparent;
    border: 1px solid green;
    color: white;
}

#textarea:focus{
    outline: none;
}

.btn{
    width: 50%;
    border: 1px solid #E71D36;
    color: white;
    font-weight: bold;
}

.btn:hover{
    background-color: red;
    color: whitesmoke;
}

@media screen and (max-width: 544px){
    .navcontainer__item{
        display: none;
    }

    .contentmenu__item--img{
        margin-left: -3em;
    }

    input[type="text"],
    input[type="email"]{
        width: 100%;
        font-size: 0.8em;
    }

    #textarea{
        max-width: 100%;
        min-width: 100%;
        max-height: 50%;
        min-height: 50%;
        font-size: 0.8em;
    }

    .btn{
        width: 100%;
    }
}